
{% extends 'myprofile/base.html' %}
{% load static %}




{% block content %}

        <!-- Work -->
        <article id="work">
          <h2 class="major">Work</h2>
          {% for project in projects %}
          <h3 class="major">{{project.name}}</h3>
          <span class="image main"><img src="{{project.image.url}}" alt="" style="height:100px;width:100px;" /></span>
          <p>
            {{project.overview}}
          </p>
          
          {% endfor %}
        </article>

{% endblock %}